<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block font-bold mb-1 " style="font-family: 'Harlow Solid Italic';font-size: 6rem;">Taxe  <span class="signal-animation" style=" font-size: 5rem;color:#5DE2E7 ">38</span>
</span>
            <div class="text-3xl text-primary font-bold mb-3" style="color:#5DE2E7;">Fair Taxation Project: Strengthening Our Community Together</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Explore our tax project aimed at ensuring equitable distribution of tax burdens while supporting the economic and social development of our community.</p>

            <button pButton pRipple label="Sign in" type="button" class="mr-3 p-button-raised" routerLink="/logine"></button>
            <button pButton pRipple label="Register" type="button" class="p-button-outlined" routerLink="/admin/register" ></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/layout/images/tax.gif" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
