
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'notificationRetardPremierNiveau.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'notificationRetardPremierNiveau.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'notificationRetardPremierNiveau.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'notificationRetardPremierNiveau.code' | translate}}" autofocus  id="1" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'notificationRetardPremierNiveau.locale' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'notificationRetardPremierNiveau.locale' | translate}}" autofocus  id="2" [ngModel]="item.locale?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'notificationRetardPremierNiveau.redevable' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'notificationRetardPremierNiveau.redevable' | translate}}" autofocus  id="3" [ngModel]="item.redevable?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'notificationRetardPremierNiveau.anne' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'notificationRetardPremierNiveau.anne' | translate}}" [ngModel]="item.anne"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'notificationRetardPremierNiveau.montantBase' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'notificationRetardPremierNiveau.montantBase' | translate}}" [ngModel]="item.montantBase"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



