
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'taxe38Detail.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'taxe38Detail.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'taxe38Detail.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'taxe38Detail.code' | translate}}" autofocus  id="1" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'taxe38Detail.montantParMetreCarre' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'taxe38Detail.montantParMetreCarre' | translate}}" [ngModel]="item.montantParMetreCarre"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'taxe38Detail.locale38Detail' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'taxe38Detail.locale38Detail' | translate}}" autofocus  id="3" [ngModel]="item.locale38Detail?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'taxe38Detail.tauxTaxe38' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'taxe38Detail.tauxTaxe38' | translate}}" autofocus  id="4" [ngModel]="item.tauxTaxe38?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'taxe38Detail.taxe38' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'taxe38Detail.taxe38' | translate}}" autofocus  id="5" [ngModel]="item.taxe38?.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'taxe38Detail.montantBase' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="6" [disabled]="true" placeholder="{{'taxe38Detail.montantBase' | translate}}" [ngModel]="item.montantBase"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'taxe38Detail.montantRetardPremierMois' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="7" [disabled]="true" placeholder="{{'taxe38Detail.montantRetardPremierMois' | translate}}" [ngModel]="item.montantRetardPremierMois"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'taxe38Detail.montantRetardAutreMois' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'taxe38Detail.montantRetardAutreMois' | translate}}" [ngModel]="item.montantRetardAutreMois"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



