    <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'notificationRetardTroisiemeNiveau.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'notificationRetardTroisiemeNiveau.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'notificationRetardTroisiemeNiveau.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'notificationRetardTroisiemeNiveau.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validNotificationRetardTroisiemeNiveauCode}"  />
                                            <small class='p-error' *ngIf='!validNotificationRetardTroisiemeNiveauCode'>Code est obligatoire.</small>
                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="2">{{'notificationRetardTroisiemeNiveau.locale' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="locales" [(ngModel)]="item.locale" id="2" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="code" placeholder="{{'notificationRetardTroisiemeNiveau.locale' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'notificationRetardTroisiemeNiveau.redevable' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="redevables" [(ngModel)]="item.redevable" id="3" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'notificationRetardTroisiemeNiveau.redevable' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'notificationRetardTroisiemeNiveau.anne' | translate}}</label>
                                            <p-inputNumber class="mb-2 mr-2" id="4" placeholder="{{'notificationRetardTroisiemeNiveau.anne' | translate}}" [(ngModel)]="item.anne"  >
                                            </p-inputNumber>
                                            
                                        </div>

                                    <div class="field col-11 md:col-6">
                                        <label for="5">{{'notificationRetardTroisiemeNiveau.trim' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="trims" [(ngModel)]="item.trim" id="5" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="id" placeholder="{{'notificationRetardTroisiemeNiveau.trim' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
